<app-loading-spinner *ngIf="is_loading"></app-loading-spinner>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <button mat-raised-button (click)="toProfilePage()">
                <span class="material-icons">account_circle</span>
                Profile
            </button>
        </div>
        <div class="col-sm-6">
            <h1>{{ username }}'s Repositories</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <mat-paginator [pageSizeOptions]="[5, 10, 20]">
        </mat-paginator>
        <table *ngIf="repos" mat-table [dataSource]="data_source" class="repo-wrapper">
            <ng-container matColumnDef="repo">
                <th mat-header-cell *matHeaderCellDef>Repository List</th>
                <td mat-cell *matCellDef="let element">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <div class="repo-header">
                                    <mat-panel-title>
                                        {{ element.repo.owner.login }} / {{ element.repo.name }}
                                    </mat-panel-title>
                                    <div class="repo-logo-wrapper">
                                        <div class="repo-logo">
                                            <span class="material-icons">star_rate</span>
                                            <p>{{ element.repo.stargazers_count }}</p>
                                        </div>
                                        <div class="repo-logo">
                                            <span class="material-icons">remove_red_eye</span>
                                            <p>{{ element.repo.watchers_count }}</p>
                                        </div>
                                        <div class="repo-logo">
                                            <span class="material-icons">call_split</span>
                                            <p>{{ element.repo.forks_count }}</p>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel-header>
                            <div class="repo-body">
                                <div class="row">
                                    <div class="col-7 left">
                                        <p><span class="desc-title">Project Language:</span> {{ element.repo.language }} </p>
                                        <p><span class="desc-title">Project Size:</span> {{ element.repo.size }}</p>
                                        <p><span class="desc-title">Forking Url:</span> {{ element.repo.forks_url }}</p>
                                        <p *ngIf="element.repo.description"><span class="desc-title">Description:</span> {{ element.repo.description }}</p>
                                        <p *ngIf="!element.repo.description"><span class="desc-title">Description:</span> <span class="no-desc"> not available for this project</span></p>
                                    </div>
                                    <div class="col-5 right">
                                        <button mat-raised-button [matMenuTriggerFor]="menu">Clone or Download</button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="clone(element.repo.clone_url)">Clone</button>
                                            <button mat-menu-item (click)="download(element.repo.archive_url)">Download</button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <br>
                    </mat-accordion>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayed_column"></tr>
            <tr mat-row *matRowDef="let row; columns: displayed_column;"></tr>
        </table>
    </div>
</div>