<app-loading-spinner *ngIf="is_loading"></app-loading-spinner>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <button mat-raised-button (click)="toProfilePage()">
                <span class="material-icons">account_circle</span>
                Profile
            </button>
        </div>
        <div class="col-sm-6">
            <h1>{{ username }}'s Repositories</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div *ngIf="repos" class="row">
        <div *ngFor="let repo of repos" class="repo-wrapper">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        Personal data
                        </mat-panel-title>
                        <mat-panel-description>
                        Type your name and age
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>