<app-loading-spinner *ngIf="is_loading"></app-loading-spinner>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <button mat-raised-button (click)="toProfilePage()">
                <span class="material-icons">account_circle</span>
                Profile
            </button>
        </div>
        <div class="col-sm-6">
            <h1>{{ username }}'s Repositories</h1>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div *ngIf="repos" class="row">
        <div *ngFor="let repo of repos" class="repo-wrapper">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="repo-header">
                            <mat-panel-title>
                                {{ repo.owner.login }} / {{ repo.name }}
                            </mat-panel-title>
                            <div class="repo-logo-wrapper">
                                <div class="repo-logo">
                                    <span class="material-icons">star_rate</span>
                                    <p>{{ repo.stargazers_count }}</p>
                                </div>
                                <div class="repo-logo">
                                    <span class="material-icons">remove_red_eye</span>
                                    <p>{{ repo.watchers_count }}</p>
                                </div>
                                <div class="repo-logo">
                                    <span class="material-icons">call_split</span>
                                    <p>{{ repo.forks_count }}</p>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="repo-body">
                        <div class="row">
                            <div class="col-6 left">
                                <p>Project Language: {{ repo.language }} </p>
                                <p>Project Size: {{ repo.size }}</p>
                                <p>Forking Url: {{ repo.forks_url }}</p>
                                <p *ngIf="repo.description">Description: {{ repo.description }}</p>
                                <p *ngIf="!repo.description">Description: <span class="no-desc">not available for this project</span></p>
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <br>
            </mat-accordion>
        </div>
    </div>
</div>