/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}

body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.layout { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

/* loading spinner */
.ring-wrapper {

    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;

    .lds-dual-ring {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
    }
    
    .lds-dual-ring:after {
        content: "  ";
        display: block;
        width: 20px;
        height: 20px;
        margin: 0px;
        border-radius: 50%;
        border: 4px solid #fff;
        border-color: grey transparent grey transparent;
        animation: lds-dual-ring 1.7s linear infinite;
    }
    
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
